In [1]:
# Bibliotecas
import pandas as pd
import numpy as np
import random

In [2]:
# Gerar uma Série com 500 valores aleatórios entre -1000 e 1000

# Usando random.sample -> (range(intervalo),quantidade)
rand = random.sample(range(-1000,1000),500)
valores = pd.Series(rand)
print(valores)

0     -823
1      516
2      660
3     -741
4     -625
      ...
495    928
496   -703
497    183
498   -143
499   -473
Length: 500, dtype: int64

In [3]:
# a) Imprimir o maior e o menor valor

# Função para maior valor = max
# Função para menor valor = min
print("Maior valor: {}" .format(valores.max()))
print("Menor valor: {}" .format(valores.min()))

Maior valor: 999
Menor valor: -1000

In [4]:
# b) Imprimir somente valores positivos
print('{}' .format(valores[valores > 0]))

1      516
2      660
5      254
7      748
8      432
      ...
481    138
485    823
488    570
495    928
497    183
Length: 248, dtype: int64

In [5]:
# c) Imprimir somente valores ímpares
print('{}' .format(valores[valores % 2 != 0]))

0     -823
3     -741
4     -625
12    -867
15     597
      ...
493   -929
496   -703
497    183
498   -143
499   -473
Length: 254, dtype: int64

In [6]:
# d) Imprimir os valores das posições/índices de 50 a 100, inclusive
print('{}' .format(valores[50:101]))

50    -318
51    -525
52     950
53     172
54    -296
55     548
56     -52
57     -56
58     985
59       8
60     116
61    -881
62     148
63    -657
64      58
65     406
66     910
67    -244
68     123
69     225
70    -664
71    -167
72    -684
73     111
74    -855
75     151
76     416
77     -22
78     827
79    -979
80       4
81     793
82     624
83    -736
84    -889
85     878
86     767
87    -222
88     422
89    -363
90    -276
91     309
92     619
93     600
94     473
95    -520
96     999
97     475
98     545
99    -879
100    613
dtype: int64

In [7]:
# e) A quantidade de valores pares
print('{}' .format(valores[valores % 2 == 0].size))

246

In [8]:
# f) A quantidade de valores maiores que 500
print('{}' .format(valores[valores > 500].size))

115

In [10]:
# g) Os valores maiores que 500 e menores que 700
print('{}' .format(valores[(valores > 500) & (valores < 700)]))

1      516
2      660
15     597
19     537
40     550
55     548
82     624
92     619
93     600
98     545
100    613
114    647
117    522
123    547
124    585
127    571
132    607
162    688
167    553
195    620
201    690
235    685
254    657
260    697
263    512
267    667
270    555
273    643
284    501
290    626
297    587
300    663
302    563
306    508
308    556
339    574
351    642
360    632
380    699
386    669
391    612
411    580
419    592
422    533
436    515
452    507
457    536
458    631
475    635
480    671
488    570
dtype: int64

In [11]:
# h) A raiz quadrada de todos os valores
print('{}' .format(valores ** (1/2)))

0            NaN
1      22.715633
2      25.690465
3            NaN
4            NaN
         ...
495    30.463092
496          NaN
497    13.527749
498          NaN
499          NaN
Length: 500, dtype: float64